/*Fonts*/
/*Pseudo*/
/*Classes*/

/*Tags*/
body 
{
    /*max-width: 500px;*/
    margin: auto;
    padding: 0;
    background: #0e0e0e;
    font-family: sans-serif;
    color: white;
}

searchform
{
    display: block;
}

heading
{
    display: block;
    color: rgb(108, 198, 233);
    background: rgba(28, 28, 28, 0.2);
    border-radius: 8px;
    height: max(10vh, 80px);
}
heading *
{
    display: block;
    margin-left: 0px;
}
heading1
{
    font-size: clamp(46px, 3vh, 1.12vw);
    text-shadow: 2px 1px rgba(108, 198, 233, 0.3);
}
heading2
{
    font-size: clamp(12px, 2vh, 1vw);
    margin-left: 0px
}