* {
    box-sizing: border-box;
  }

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    border: 5px solid #0e0e0e;
    margin-top: -1px; /* Prevent double borders */
    background-color: #3c3c3c;
    padding: 12px;
  }
