
<style>

.content {
  max-width: 500px;
  margin: auto;
  padding: 100px;
}

heading1 {text-align: center;}
heading2 {text-align: center;}
div {text-align: center;}


</style>
<div class = "content">
    <heading>
        <heading1>Blissful Engelbartt</heading21>
        <heading2>The Concert Collecter site</heading2>
    </heading>
    <br />
<body>

    <searchform>
        Enter concert URL below <br /> 
            <%= form_tag results_path, :method => "get" do %> 
            <%= search_field_tag :search %>
            <%= submit_tag "Search", :name => nil %>
        <% end %>
    </searchform>
</div>
</body>

</html>
