<style>

.content {
  max-width: 500px;
  margin: auto;
  padding: 100px;
}

heading1 {text-align: center;}
heading2 {text-align: center;}
div {text-align: center;}


</style>

<div class="content">
<heading>
    <heading1>Blissful Engelbartt</heading1>
    <heading2>The Concert Collector site</heading2>
</heading>
<br />
<%=link_to "Home", root_path%>
<br />
<br />
<heading>
    <heading2>Search Results for <%=@search%></heading2>
</heading>
</div>