/*Fonts*/
/*Pseudo*/


/*Classes*/

/*Tags*/
body 
{
    margin: 0px;
    background: #0e0e0e;
    font-family: sans-serif;
    color: white;
}

navbar
{
    display: block;
    background-color: #3c3c3c;
    padding-left: 12px;
}

page
{
    display: block;
    text-align: center;
    width: 50%;
    min-width: 20vw;
    margin-left: 25%;
}

searchform
{
    display: block;
}

heading
{
    display: block;
    color: rgb(108, 198, 233);
    background: rgba(28, 28, 28, 0.2);
    border-radius: 8px;
    width: 50%;
    margin: 10px 0 10px 25%;
    padding: 20px 0;
}
heading *
{
    display: block;
    min-width: 200px;
}
heading1
{
    font-size: max(calc((1.5vw + 6vh )/2),20px);
    text-shadow: 2px 1px rgba(108, 198, 233, 0.3);
    text-align: center;
}
heading2
{
    font-size: clamp(12px, 2vh, 1vw);
    text-align: center;
}

navitem *
{
    display: inline-block;
    padding: 14px 16px;
    color: rgba(108, 198, 233, 0.3);
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

navitem *:hover
{
    background-color: #707070;
}

navitem form
{
    height: 18px;
}


navitem form button
{
    height: 18px;
}

navitem form *
{
    padding: 0;
    background: none;
    border: none;
}